.record-container {
    padding: 20px;
    text-align: center;
  }
  
  .record-header {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .record-details {
    margin-top: 20px;
  }
  
  .react-calendar {
    width: 350px;
    height: 500px;
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    margin: 0 auto;
  }
  
  .react-calendar__navigation button {
    color: #6f48eb;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
  }
  
  .react-calendar__tile--today {
    background: #86BD63 !important;
    color: white !important;
    border-radius: 50%;
}

.react-calendar__tile--now {
  background: #86BD63 !important; /* 변경된 색상 */
}
  
  .react-calendar__tile--active {
    background: #6f48eb !important;
    color: white !important;
  }
  
  .react-calendar__month-view__weekdays__weekday abbr {
    color: inherit; /* 주말의 색상 구분을 없애기 위해 추가 */
}