.board-container {
  padding: 0 20px; /* 패딩 조정 */
}

.board-header {
  position: relative;
  text-align: center;
  color: white;
  padding: 100px 20px; /* 상하단 패딩 추가 */
  background: url('../../assets/images/Rectangle\ 6865.png') no-repeat center center; /* 배경 이미지 설정 */
  background-size: cover; /* 배경 이미지 크기 조정 */
  margin-bottom: 80px; /* 하단 마진 추가 */
  margin-top:92px;
}

.board-header h1 {
  margin: 0;
  font-size: 48px; /* 글자 크기 조정 */
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 30px 0; /* 위아래 마진 조정 */
}

.search-input {
  width: 50%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #FFFFFF;
  border-radius: 25px 0 0 25px; /* 둥글게 */
}

.search-button {
  padding: 0px;
  border: 1px solid #FFFFFF;
  border-left: none;
  background-color: #FFFFFF;
  cursor: pointer;
  border-radius: 0 25px 25px 0; /* 둥글게 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button img {
  width: 50px;
  height: 50px;
}

.post-list {
  display: flex;
  flex-direction: column;
  margin: 0 300px; /* 게시글 리스트 좌우 마진 설정 */
}

.post-item {
  display: flex;
  border: 1px solid #ddd;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  border-radius: 5px; /* 테두리 둥글게 */
  margin-bottom: 0px; /* 게시글 간의 간격 없애기 */
}

.post-image {
  width: 120px; /* 이미지 크기 조정 */
  height: 120px;
  object-fit: cover;
  margin-right: 20px; /* 오른쪽 마진 조정 */
}

.post-content {
  flex-grow: 1;
}

.post-content h2 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.post-content p {
  margin: 0 0 10px;
  color: #555;
}

.post-date {
  color: #888;
  font-size: 12px;
}

.post-author {
  margin-left: 5px;
  color: #555;
  font-size: 12px;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.post-link:hover {
  text-decoration: underline;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px; /* 상단 마진 조정 */
}

.pagination-item {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination-item.active {
  background-color: #86BD63; /* active 상태에서 배경색 변경 */
  color: white;
}

.pagination-arrow {
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px;
}

.pagination-arrow img {
  width: 20px;
  height: 20px;
}
