/* src/components/common/Navbar.css */
.navbar {
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-logo {
    height: 40px;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .navbar-profile {
    font-weight: bold;
  }
  