/* src/components/common/Navbar.css */
.navbar {
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  height: 40px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-right: 40px; /* 메뉴 간의 간격 조정 */
}

.navbar-menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px; /* 메뉴 글자 크기 조정 */
}

.navbar-search {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 40px; /* 검색창 왼쪽 여백 조정 */
}

.navbar-search-input {
  width: 300px; /* 검색창 너비 조정 */
  padding: 10px 15px; /* 검색창 패딩 조정 */
  font-size: 16px; /* 검색창 글자 크기 조정 */
  border: 1px solid #ddd;
  border-radius: 20px 0 0 20px; /* 좌측 둥글게 */
}

.navbar-search-button {
  padding: 10px 15px; /* 검색 버튼 패딩 조정 */
  border: 1px solid #ddd;
  border-left: none;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 0 20px 20px 0; /* 우측 둥글게 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-search-button img {
  width: 20px;
  height: 20px;
}

.navbar-profile {
  position: relative;
  color: #000000; /* 텍스트 색상을 검정으로 변경 */
  text-decoration: none; /* 밑줄 제거 */
  font-weight: bold;
  font-size: 18px; /* 프로필 글자 크기 조정 */
  cursor: pointer;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
}

.navbar-profile .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-profile:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  background-color: #f8f8f8;
}

.navbar-profile img {
  margin-left: 5px; /* 아이콘과 텍스트 간격 */
  width: 20px;
  height: 20px;
}
