/* src/components/common/Pagination.css */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .pagination button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .pagination-icon, .arrow-icon {
    width: 30px;
    height: 30px;
  }
  
  .pagination-icon.active {
    border: 2px solid #007bff;
    border-radius: 50%;
  }
  